body,html,div,p{
	margin:0;
	padding:0;	
}
body{
	background: #fff;
	font-family: "微软雅黑";
	font-size: 1em;
}
img{
	border:0;
	width:100%;
}
div{width:100%;}
.bottom{
  position: fixed;
  z-index: 2;
  bottom:0;
  left:0;
  text-align: center;
}
h2{
  font-weight: normal;
  text-align: center;
  color:#f43c3c;
  font-size: 1em;
 }