@charset "utf-8";
/* CSS Document */
.sDivItem {
	margin-bottom: 10px;
	width: 100%;
	background: #ffffff;
	color: #000;
	border-top: 1px solid #EA5413;
	border-bottom: 1px solid #EA5413;
}

.sDivItemTop {
	height: 60px;
	line-height: 60px;
}

.sleft {
	float: left;
	width: 450px;
	padding-left: 20px;
	/*background: url("../images/icons.png") no-repeat left -973px;*/
	font-size: 22px;
	color: #333333;
}

.sright, .btn_trade {
	float: right;
	width: 90px;
	/*background: url("../images/icons.png");*/
	background-repeat: no-repeat;
	background-position: left -1057px;
	font-size: 14px;
	color: #7eb50b;
}

.btn_trade {
	display: inline-block;
	background-position: -631px -1057px;
	color: #EA5413;
	cursor: pointer;
	font-size: 18px;
}
/*
.btn_trade{display:inline-block;margin-top:3px;padding:2px 5px;width:57px;height:25px;line-height:25px;cursor: pointer;color: #ea3113}
 .btn_trade:hover,.btn_trade:visited{color:#fff;background: #ea3113}*/
.sui_shu, .w_sright, .x_sright {
	background-position: -187px -1057px;
	color: #ff5a00;
}

.w_sright {
	color: #00a0e9
}

.sui_yi, .y_sright, .x_yi_sright {
	background-position: -403px -1057px;
	color: #535353;
}

.sDivItemCenter {
	position: relative;
	z-index: 1;
	height: 194px;
	background:#FFF7ED;
}

.CenterCon_A {
	background:#EEF9FF;
}

.CenterCon_A .CenterBot span {
	color: #de4c0b;
}

.CenterCon_B {
	background:#E4F7F3;
}

.CenterCon_B .CenterBot span {
	color: #de4c0b;
}

.shu_center {
	height: 117px;
	background-position: left -180px;
}

.yi_center {
	height: 117px;
	background-position: left -311px;
}

.w_yi_center {
	height: 117px;
	background-position: left -1141px;
}

.CenterCon {
	width: 610px;
	margin-left: 20px;
	padding-top: 25px;
}

.shu_center .CenterCon, .yi_center .CenterCon, .w_yi_center .CenterCon {
	padding-top: 26px;
}

.CenterConL {
	float: left;
	width: 270px;
}

.CenterConR {
	float: right;
	width: 260px;
	font-size: 15px;
}

.CenterConR p {
	margin-bottom: 5px;
}

.p_sy {
	font-size: 14px
}

.sy {
	font-family: 'myImpact';
	font-size: 40px;
}

.CenterBot {
	margin: 0 auto;
	margin-top: 9px;
	width: 748px;
	height: 20px;
	line-height: 20px;
	/*background: url("../images/icons.png") no-repeat -13px -1558px;*/
	color: #444;
	text-align: center;
}

.CenterBot span {
	color: #de4c0b;
}

.sDivItemBot {
	height: 100px
}

.sDivItemBot ul {
	float: left;
	padding-top: 28px;
	width: 600px;
}
/* .sDivItemBot ul.ul_item{width:100%;} */
.sDivItemBot ul li {
	float: left;
	font-size: 14px;
	text-align: center;
}

.sDivItemBot ul li span {
	font-family: 'myImpact';
	font-size: 20px;
	color: #434343;
}

.botBtn {
	float: right;
	width: 170px;
	padding-top: 15px;
}

.botBtn a, .botBtn button {
	display: block;
	margin-bottom: 5px;
	width: 158px;
	height: 28px;
	border:1px solid #ea5513;
	line-height: 25px;
	text-align: center;
	color: #ea5513;
	font-size: 16px;
	background: #ffffff;
	cursor: pointer;
}
.botBtn a, .botBtn button:hover{
	height: 30px;
	width: 160px;
	line-height: 30px;
	border: 0px;
	background: #ea5513;
	color: #ffffff;
}

.sDivItemBots {
	height: 46px;
	line-height: 46px;
}

.sDivItemBot ol li {
	float: left;
	width: 33%;
	text-align: center;
	font-size: 16px;
}

.wDivItemCenter {
	background-position: left -840px;
	height: 123px;
}

.sDivItemCenter i {
	position: absolute;
	z-index: 12;
	left: 0;
	top: 23px;
	display: block;
	width: 149px;
	height: 100px;
	background: url("../images/icons.png");
	background-repeat: no-repeat;
}

.sDivItemCenter .w_i {
	background-position: -155px -1253px;
}

.sDivItemCenter .x_i {
	background-position: -319px -1253px;
}

.sDivItemCenter .x_h {
	background-position: -490px -1253px;
}

.wDivItemTop .sleft {
	background: url("../images/icons.png") no-repeat left -1103px;
}

.hDivItemTop .sleft {
	background: url("../images/icons.png") no-repeat left -1205px;
}

.xDivItemTop .sleft {
	background: url("../images/icons.png") no-repeat left -1158px;
}

.ul_item {
	width: 100%;
}

.s_progress {
	position: relative;
	z-index: 1;
	margin: 0 auto;
	margin-top: 30px;
	width: 750px;
	height: 30px;
	background-image: url("../images/icons.png");
	background-repeat: no-repeat;
	background-position: -12px -1493px;
}

.s_progress_A {
	background-position: -12px -1383px;
}

.s_progress_B {
	background-position: -12px -1440px;
}

.s_progress .ani {
	position: absolute;
	z-index: 2;
	left: -8px;
	top: -35px;
	width: 46px;
	height: 39px;
	background: url("../images/ani.gif") no-repeat left top;
}

.s_progress .ani p {
	margin: 6px 0 0 -4px;
	width: 35px;
	text-align: right;
	color: #000;
	font-family: arial;
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
}

#deep td {
	height: 40px;
}

.contents td {
	border: none;
}

.contents input {
	padding: 5px 10px;
	width: 200px;
	height: 20px;
	line-height: 20px;
}

.table02 {
	margin-top: 0;
}

.table02 td {
	line-height: 37px;
	height: 37px;
}