	html{
    font-size: 100%;
}
/* 鏁翠綋绋冲畾缁撴瀯--------------------- */
html,body,.screen{
            position: relative;
            width: 100%;
            height: 100%;
             /*  overflow: hidden;   */
            margin: 0 auto;
			
        }
body, h1, h2, h3, h4, h5, h6, hr, p, /* structural elements 缁撴瀯鍏冪礌 */
dl, dt, dd, ul, ol, li, /* list elements 鍒楄〃鍏冪礌 */
fieldset, button, input, textarea, /* form elements 琛ㄥ崟鍏冪礌 */
th, td,section,div, a,header,section{ /* table elements 琛ㄦ牸鍏冪礌 */
    margin: 0rem;
    padding: 0rem;
    color: #333;
    list-style: none;display:block;  

    -webkit-tap-highlight-color:transparent; 
 
}

h1, h2, h3, h4, h5, h6{ font-weight: 400; color: #292929;}
h1 { font-size: 0.32rem; /* 18px / 12px = 1.5 */ }
h2 { font-size: 0.26rem; }
h3 { font-size: 0.18rem; }
h4, h5, h6 { font-size: 100%;}
img{vertical-align:middle;}
input{text-indent:0.13rem;}
/* 閲嶇疆鏂囨湰鏍煎紡鍏冪礌 */
a { text-decoration: none; -webkit-tap-highlight-color:transparent; -webkit-user-select: none;-moz-user-focus: none;-moz-user-select: none; color: #000;}
a:hover { text-decoration: none; }		
			
.main{
	position: absolute;
	width: 100%;
	max-width: 7.5rem;
	left: 50%;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	z-index: 9;
	transform: translate(-50%,0);
	-webkit-transform: translate(-50%,0);
	-moz-transform: translate(-50%,0);
	-o-transform: translate(-50%,0);	
	transform: translate(-50%,0);
	padding-bottom:1.2rem;
}


.error_tip {position:fixed; top: 50%; height: 0.68rem;width: 3.45rem;font-size: .24rem;line-height: .68rem;border-radius: 3px;background: rgba(0,0,0,0.5);text-align: center;color: #fff;
left: 50%; 
  /*  transform: translate(-50%,-50%); */z-index: 100;opacity: 0;display: none; margin-left:-1.72rem;}


/*甯哥敤鏂规硶*/
.myInvitation-money{width:7.02rem;height:1.06rem;background:#fff;margin-left:auto;margin-right:auto; margin-top:0.24rem;}
.myInvitation-money p{font-size:0.24rem;color:#4A4B5D;text-align:center; padding-top:0.16rem; padding-bottom:0.08rem;}

.myInvitation-money span{font-size:0.24rem;color:#FC724C;display:block;text-align:center;}

section{margin:0 auto;width:100%;max-width:960px;_width:expression((document.documentElement.clientWidth||document.body.clientWidth)>960?"960px":"");}



/* 婊戝姩闂ㄩ�氱敤鏍峰紡*/

/* tabbed_content */

.tabbed_content{background-color:none;max-width:960px;_width:expression((document.documentElement.clientWidth||document.body.clientWidth)>960?"960px":"");}

.tabs{width:100%;height:0.8rem;line-height:0.8rem;    position: fixed; top:0px;overflow:hidden;font-size:0.3rem;background:#fff; }

.tabs h2{padding-left:10px;float:left;}

.tabs .moving_bg{width:28%;_width:15%;color:#4A4B5D;height:0.75rem;margin-left:0.8rem;border-bottom:solid 2px #FC724C;background-color:#FFF;position:absolute;z-index:190;left:0;background-position:bottom left;background-repeat:no-repeat;overflow:hidden;}

/* .tabs2 .moving_bg{width:20%} */

/* .tabs3 .moving_bg{width:16.6666666%;} */

.tabs .tab_item{display:block;float:left;width:50%;text-align:center;z-index:200;position:relative;cursor:pointer;color:#868798;overflow:hidden;}

/* .tabs2 .tab_item{width:20%;} */



/* .tabs3 .tab_item{width:16.6666666%;} */

/* .tabs .tab_item:hover{color:#4A4B5D;} */

.tabbed_content .slide_content{overflow:hidden;background-color:none;position:relative;width:100%;top:45px;}

.tabslider{width:400%}

.tabslider2{width:500%}

.tabslider3{width:600%}

.tabslider ul{float:left;margin:0rem;width:25%;text-align:left;-ms-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;/* padding鍜宐order琚寘鍚湪瀹氫箟鐨剋idth鍜宧eight涔嬪唴 */background:none;min-height:560px;}
.welfare-box{width:7.02rem;margin-left:auto;margin-right:auto; padding-top:0.24rem; position:relative;}
.welfare-box-list{overflow:hidden;margin-bottom:0.24rem;}
.welfare-box-list-img{width:7.02rem;height:2.62rem;overflow:hidden;}
.welfare-box-list-img img{width:7.02rem;  border-radius: 0.1rem 0.1rem 0px 0px;}
.welfare-box-wb{height:0.9rem;line-height:0.9rem;background:#fff; padding-left:0.16rem;padding-right:0.16rem;}
.welfare-box-wb p{float:left;}
.welfare-box-wbl{font-size:0.3rem;color:#4A4B5D;width:65%;}
.welfare-box-wbr{font-size:0.24rem;color:#868798;text-align:right;width:35%;}
.welfare-box-wbr img{width:0.36rem;margin-right:0.08rem;}
.welfare-box-tc{width:3.8rem;height:0.6rem;line-height:0.6rem;background:#FE8768;line-height:0.6rem;color:#fff;text-align:center;font-size:0.24rem;border-radius:1rem;position:absolute;top:50%;left:50%;margin-left:-1.9rem;z-index:99999999999;display:none}
.welfare-yuan{width:1.16rem;height:1.16rem;z-index:100000;background:#FE8768;border-radius:1.16rem;color:#fff;text-align:center;font-size:0.24rem; position:absolute;bottom:0.48rem;right:0.24rem;}
.welfare-yuan span{font-size:0.48rem;color:#fff;}
.welfare-yuan a{color:#fff;padding-top:0.1rem;}
.welfare-details{overflow:hidden;}
.welfare-detailsimg{overflow:hidden; margin-top:0.24rem;margin-bottom:0.24rem;}
.welfare-detailsimg img{width:100%;}

.welfare-detailsimg1{overflow:hidden; margin-bottom:0.24rem;}
.welfare-detailsimg1 img{width:100%;}


.welfare-details-box{background:#fff;padding-left:0.24rem;padding-right:0.24rem;margin-bottom:0.24rem;padding-bottom:0.24rem;}
.welfare-details-box-tip{font-size:0.3rem;color:#4A4B5D;padding-top:0.24rem;padding-bottom:0.24rem;}
.welfare-details-box-content{font-size:0.24rem;line-height:0.42rem;}
.welfare-suojin{text-indent:0.48rem;}
.welfare-details-box-content p{color:#868798;line-height:0.42rem;text-indent:0.48rem; margin-top:0.12rem;}
.welfare-details-box-content span{display:block;font-weight: bold;font-size:0.26rem;color:#4A4B5D;}
.welfare-details-box-jd{height:0.64rem;}
.welfare-details-box-jd li{float:left;}
.welfare-details-box-jd1{line-height:0.84rem;font-size:0.24rem;color:#868798;width:1.2rem;}
.welfare-details-box-jd2{width:4.35rem;}
.welfare-details-box-jd3{width:1.47rem;line-height:0.84rem;font-size:0.24rem;color:#868798;text-align:right;}
.welfare-jd{width:4.35rem;height:0.04rem;background:#EBEBEB;border-radius:0.65rem; margin-top:0.44rem;}
.welfare-zhi{height:0.04rem;background:#FC724C;border-radius:0.65rem;}
.welfare-love{position:fixed;bottom:0rem;z-index:9999;background:#fff;width:7.02rem;padding-left:0.24rem; padding-right:0.24rem;z-index:10000}

.welfare-love li{float:left;line-height:0.98rem;width:28%;font-size:0.2rem;color:#868798;}
.welfare-love li a{float:left;line-height:0.98rem;font-size:0.2rem;color:#868798;}
.welfare-loveul li b{font-size:0.36rem;color:#4A4B5D;padding-left:0.1rem;}

.welfare-loveul li p{width:2.8rem;height:0.8rem;cursor:pointer ;line-height:0.8rem;text-align:center;background:#FE8768;font-size:0.3rem;color:#fff;border-radius:0.08rem; margin-top:0.1rem;}
.welfare-details-fc{overflow:hidden;display:none}
.welfare-details-fc p{position:relative;height:0.48rem; padding-top:0.24rem;}

.welfare-details-fc p img{width:0.48rem;position:absolute;right:0.24rem;cursor:pointer ;}
.welfare-details-ja{overflow:hidden;clear:both;margin-top:0.4rem;}
.welfare-add{margin-top:0.25rem;cursor:pointer ;}
.welfare-reduce{margin-top:0.25rem;cursor:pointer ;}
.welfare-details-ja li{float:left;width:0.52rem;}
.welfare-details-ja li img{width:0.52rem;}
.welfare-input{margin-left:0.27rem;margin-right:0.27rem;border-bottom:solid #EBEBEB 1px;text-align:center;}
.index-Popup-bg{width:100%;height:100%;position:fixed;opacity:0.5;background:#000;z-index:9999;left: 0; top: 0;display:none;}
.welfare-botton-ok{display:none;cursor:pointer ;}



