<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mrbt.lingmoney.mapper.SellBatchMapper">
  <resultMap id="BaseResultMap" type="com.mrbt.lingmoney.model.SellBatch">
    <!--
    @mbggenerated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="batch" jdbcType="VARCHAR" property="batch" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="sell_money" jdbcType="DECIMAL" property="sellMoney" />
    <result column="plat_money" jdbcType="DECIMAL" property="platMoney" />
    <result column="exp_path" jdbcType="VARCHAR" property="expPath" />
    <result column="imp_path" jdbcType="VARCHAR" property="impPath" />
    <result column="financ_user" jdbcType="VARCHAR" property="financUser" />
    <result column="real_sell_money" jdbcType="DECIMAL" property="realSellMoney" />
    <result column="real_plat_money" jdbcType="DECIMAL" property="realPlatMoney" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
    @mbggenerated
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
    @mbggenerated
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
    @mbggenerated
    -->
    id, batch, status, sell_money, plat_money, exp_path, imp_path, financ_user, real_sell_money, 
    real_plat_money
  </sql>
  <select id="selectByExample" parameterType="com.mrbt.lingmoney.model.SellBatchExample" resultMap="BaseResultMap">
    <!--
    @mbggenerated
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sell_batch
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0">
       limit ${limitStart} , ${limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
    @mbggenerated
    -->
    select 
    <include refid="Base_Column_List" />
    from sell_batch
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
    @mbggenerated
    -->
    delete from sell_batch
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.mrbt.lingmoney.model.SellBatchExample">
    <!--
    @mbggenerated
    -->
    delete from sell_batch
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mrbt.lingmoney.model.SellBatch">
    <!--
    @mbggenerated
    -->
    insert into sell_batch (id, batch, status, 
      sell_money, plat_money, exp_path, 
      imp_path, financ_user, real_sell_money, 
      real_plat_money)
    values (#{id,jdbcType=INTEGER}, #{batch,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{sellMoney,jdbcType=DECIMAL}, #{platMoney,jdbcType=DECIMAL}, #{expPath,jdbcType=VARCHAR}, 
      #{impPath,jdbcType=VARCHAR}, #{financUser,jdbcType=VARCHAR}, #{realSellMoney,jdbcType=DECIMAL}, 
      #{realPlatMoney,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.mrbt.lingmoney.model.SellBatch">
    <!--
    @mbggenerated
    -->
    insert into sell_batch
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="batch != null">
        batch,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="sellMoney != null">
        sell_money,
      </if>
      <if test="platMoney != null">
        plat_money,
      </if>
      <if test="expPath != null">
        exp_path,
      </if>
      <if test="impPath != null">
        imp_path,
      </if>
      <if test="financUser != null">
        financ_user,
      </if>
      <if test="realSellMoney != null">
        real_sell_money,
      </if>
      <if test="realPlatMoney != null">
        real_plat_money,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="batch != null">
        #{batch,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="sellMoney != null">
        #{sellMoney,jdbcType=DECIMAL},
      </if>
      <if test="platMoney != null">
        #{platMoney,jdbcType=DECIMAL},
      </if>
      <if test="expPath != null">
        #{expPath,jdbcType=VARCHAR},
      </if>
      <if test="impPath != null">
        #{impPath,jdbcType=VARCHAR},
      </if>
      <if test="financUser != null">
        #{financUser,jdbcType=VARCHAR},
      </if>
      <if test="realSellMoney != null">
        #{realSellMoney,jdbcType=DECIMAL},
      </if>
      <if test="realPlatMoney != null">
        #{realPlatMoney,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mrbt.lingmoney.model.SellBatchExample" resultType="java.lang.Long">
    <!--
    @mbggenerated
    -->
    select count(*) from sell_batch
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
    @mbggenerated
    -->
    update sell_batch
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.batch != null">
        batch = #{record.batch,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.sellMoney != null">
        sell_money = #{record.sellMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.platMoney != null">
        plat_money = #{record.platMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.expPath != null">
        exp_path = #{record.expPath,jdbcType=VARCHAR},
      </if>
      <if test="record.impPath != null">
        imp_path = #{record.impPath,jdbcType=VARCHAR},
      </if>
      <if test="record.financUser != null">
        financ_user = #{record.financUser,jdbcType=VARCHAR},
      </if>
      <if test="record.realSellMoney != null">
        real_sell_money = #{record.realSellMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.realPlatMoney != null">
        real_plat_money = #{record.realPlatMoney,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
    @mbggenerated
    -->
    update sell_batch
    set id = #{record.id,jdbcType=INTEGER},
      batch = #{record.batch,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      sell_money = #{record.sellMoney,jdbcType=DECIMAL},
      plat_money = #{record.platMoney,jdbcType=DECIMAL},
      exp_path = #{record.expPath,jdbcType=VARCHAR},
      imp_path = #{record.impPath,jdbcType=VARCHAR},
      financ_user = #{record.financUser,jdbcType=VARCHAR},
      real_sell_money = #{record.realSellMoney,jdbcType=DECIMAL},
      real_plat_money = #{record.realPlatMoney,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mrbt.lingmoney.model.SellBatch">
    <!--
    @mbggenerated
    -->
    update sell_batch
    <set>
      <if test="batch != null">
        batch = #{batch,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="sellMoney != null">
        sell_money = #{sellMoney,jdbcType=DECIMAL},
      </if>
      <if test="platMoney != null">
        plat_money = #{platMoney,jdbcType=DECIMAL},
      </if>
      <if test="expPath != null">
        exp_path = #{expPath,jdbcType=VARCHAR},
      </if>
      <if test="impPath != null">
        imp_path = #{impPath,jdbcType=VARCHAR},
      </if>
      <if test="financUser != null">
        financ_user = #{financUser,jdbcType=VARCHAR},
      </if>
      <if test="realSellMoney != null">
        real_sell_money = #{realSellMoney,jdbcType=DECIMAL},
      </if>
      <if test="realPlatMoney != null">
        real_plat_money = #{realPlatMoney,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mrbt.lingmoney.model.SellBatch">
    <!--
    @mbggenerated
    -->
    update sell_batch
    set batch = #{batch,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      sell_money = #{sellMoney,jdbcType=DECIMAL},
      plat_money = #{platMoney,jdbcType=DECIMAL},
      exp_path = #{expPath,jdbcType=VARCHAR},
      imp_path = #{impPath,jdbcType=VARCHAR},
      financ_user = #{financUser,jdbcType=VARCHAR},
      real_sell_money = #{realSellMoney,jdbcType=DECIMAL},
      real_plat_money = #{realPlatMoney,jdbcType=DECIMAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>