<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mrbt.lingmoney.mapper.TempletMapper" >
  <resultMap id="BaseResultMap" type="com.mrbt.lingmoney.model.Templet" >
    <!--
    @mbggenerated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="temp_name" property="tempName" jdbcType="VARCHAR" />
    <result column="file_type" property="fileType" jdbcType="VARCHAR" />
    <result column="modi_date" property="modiDate" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="temp_sample" property="tempSample" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.mrbt.lingmoney.model.Templet" extends="BaseResultMap" >
    <!--
    @mbggenerated
    -->
    <result column="file" property="file" jdbcType="LONGVARBINARY" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <!--
    @mbggenerated
    -->
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <!--
    @mbggenerated
    -->
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    <!--
    @mbggenerated
    -->
    id, temp_name, file_type, modi_date, status, temp_sample
  </sql>
  <sql id="Blob_Column_List" >
    <!--
    @mbggenerated
    -->
    file
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.mrbt.lingmoney.model.TempletExample" >
    <!--
    @mbggenerated
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from templet
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.mrbt.lingmoney.model.TempletExample" >
    <!--
    @mbggenerated
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from templet
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
       limit ${limitStart} , ${limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    <!--
    @mbggenerated
    -->
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from templet
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--
    @mbggenerated
    -->
    delete from templet
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.mrbt.lingmoney.model.TempletExample" >
    <!--
    @mbggenerated
    -->
    delete from templet
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mrbt.lingmoney.model.Templet" >
    <!--
    @mbggenerated
    -->
    insert into templet (id, temp_name, file_type, 
      modi_date, status, temp_sample, 
      file)
    values (#{id,jdbcType=INTEGER}, #{tempName,jdbcType=VARCHAR}, #{fileType,jdbcType=VARCHAR}, 
      #{modiDate,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, #{tempSample,jdbcType=VARCHAR}, 
      #{file,jdbcType=LONGVARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="com.mrbt.lingmoney.model.Templet" >
    <!--
    @mbggenerated
    -->
    insert into templet
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="tempName != null" >
        temp_name,
      </if>
      <if test="fileType != null" >
        file_type,
      </if>
      <if test="modiDate != null" >
        modi_date,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="tempSample != null" >
        temp_sample,
      </if>
      <if test="file != null" >
        file,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="tempName != null" >
        #{tempName,jdbcType=VARCHAR},
      </if>
      <if test="fileType != null" >
        #{fileType,jdbcType=VARCHAR},
      </if>
      <if test="modiDate != null" >
        #{modiDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="tempSample != null" >
        #{tempSample,jdbcType=VARCHAR},
      </if>
      <if test="file != null" >
        #{file,jdbcType=LONGVARBINARY},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mrbt.lingmoney.model.TempletExample" resultType="java.lang.Integer" >
    <!--
    @mbggenerated
    -->
    select count(*) from templet
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    <!--
    @mbggenerated
    -->
    update templet
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.tempName != null" >
        temp_name = #{record.tempName,jdbcType=VARCHAR},
      </if>
      <if test="record.fileType != null" >
        file_type = #{record.fileType,jdbcType=VARCHAR},
      </if>
      <if test="record.modiDate != null" >
        modi_date = #{record.modiDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.tempSample != null" >
        temp_sample = #{record.tempSample,jdbcType=VARCHAR},
      </if>
      <if test="record.file != null" >
        file = #{record.file,jdbcType=LONGVARBINARY},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    <!--
    @mbggenerated
    -->
    update templet
    set id = #{record.id,jdbcType=INTEGER},
      temp_name = #{record.tempName,jdbcType=VARCHAR},
      file_type = #{record.fileType,jdbcType=VARCHAR},
      modi_date = #{record.modiDate,jdbcType=TIMESTAMP},
      status = #{record.status,jdbcType=INTEGER},
      temp_sample = #{record.tempSample,jdbcType=VARCHAR},
      file = #{record.file,jdbcType=LONGVARBINARY}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    <!--
    @mbggenerated
    -->
    update templet
    set id = #{record.id,jdbcType=INTEGER},
      temp_name = #{record.tempName,jdbcType=VARCHAR},
      file_type = #{record.fileType,jdbcType=VARCHAR},
      modi_date = #{record.modiDate,jdbcType=TIMESTAMP},
      status = #{record.status,jdbcType=INTEGER},
      temp_sample = #{record.tempSample,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mrbt.lingmoney.model.Templet" >
    <!--
    @mbggenerated
    -->
    update templet
    <set >
      <if test="tempName != null" >
        temp_name = #{tempName,jdbcType=VARCHAR},
      </if>
      <if test="fileType != null" >
        file_type = #{fileType,jdbcType=VARCHAR},
      </if>
      <if test="modiDate != null" >
        modi_date = #{modiDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="tempSample != null" >
        temp_sample = #{tempSample,jdbcType=VARCHAR},
      </if>
      <if test="file != null" >
        file = #{file,jdbcType=LONGVARBINARY},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.mrbt.lingmoney.model.Templet" >
    <!--
    @mbggenerated
    -->
    update templet
    set temp_name = #{tempName,jdbcType=VARCHAR},
      file_type = #{fileType,jdbcType=VARCHAR},
      modi_date = #{modiDate,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      temp_sample = #{tempSample,jdbcType=VARCHAR},
      file = #{file,jdbcType=LONGVARBINARY}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mrbt.lingmoney.model.Templet" >
    <!--
    @mbggenerated
    -->
    update templet
    set temp_name = #{tempName,jdbcType=VARCHAR},
      file_type = #{fileType,jdbcType=VARCHAR},
      modi_date = #{modiDate,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      temp_sample = #{tempSample,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>