<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mrbt.lingmoney.mapper.UsersLoveLogMapper">
  <resultMap id="BaseResultMap" type="com.mrbt.lingmoney.model.UsersLoveLog">
    <!--
    @mbggenerated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="u_id" jdbcType="VARCHAR" property="uId" />
    <result column="pba_id" jdbcType="INTEGER" property="pbaId" />
    <result column="donation_number" jdbcType="INTEGER" property="donationNumber" />
    <result column="donation_log" jdbcType="VARCHAR" property="donationLog" />
    <result column="oper_time" jdbcType="TIMESTAMP" property="operTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
    @mbggenerated
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
    @mbggenerated
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
    @mbggenerated
    -->
    id, u_id, pba_id, donation_number, donation_log, oper_time
  </sql>
  <select id="selectByExample" parameterType="com.mrbt.lingmoney.model.UsersLoveLogExample" resultMap="BaseResultMap">
    <!--
    @mbggenerated
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from users_love_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0">
       limit ${limitStart} , ${limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
    @mbggenerated
    -->
    select 
    <include refid="Base_Column_List" />
    from users_love_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
    @mbggenerated
    -->
    delete from users_love_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.mrbt.lingmoney.model.UsersLoveLogExample">
    <!--
    @mbggenerated
    -->
    delete from users_love_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mrbt.lingmoney.model.UsersLoveLog">
    <!--
    @mbggenerated
    -->
    insert into users_love_log (id, u_id, pba_id, 
      donation_number, donation_log, oper_time
      )
    values (#{id,jdbcType=INTEGER}, #{uId,jdbcType=VARCHAR}, #{pbaId,jdbcType=INTEGER}, 
      #{donationNumber,jdbcType=INTEGER}, #{donationLog,jdbcType=VARCHAR}, #{operTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mrbt.lingmoney.model.UsersLoveLog">
    <!--
    @mbggenerated
    -->
    insert into users_love_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uId != null">
        u_id,
      </if>
      <if test="pbaId != null">
        pba_id,
      </if>
      <if test="donationNumber != null">
        donation_number,
      </if>
      <if test="donationLog != null">
        donation_log,
      </if>
      <if test="operTime != null">
        oper_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uId != null">
        #{uId,jdbcType=VARCHAR},
      </if>
      <if test="pbaId != null">
        #{pbaId,jdbcType=INTEGER},
      </if>
      <if test="donationNumber != null">
        #{donationNumber,jdbcType=INTEGER},
      </if>
      <if test="donationLog != null">
        #{donationLog,jdbcType=VARCHAR},
      </if>
      <if test="operTime != null">
        #{operTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mrbt.lingmoney.model.UsersLoveLogExample" resultType="java.lang.Long">
    <!--
    @mbggenerated
    -->
    select count(*) from users_love_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
    @mbggenerated
    -->
    update users_love_log
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.uId != null">
        u_id = #{record.uId,jdbcType=VARCHAR},
      </if>
      <if test="record.pbaId != null">
        pba_id = #{record.pbaId,jdbcType=INTEGER},
      </if>
      <if test="record.donationNumber != null">
        donation_number = #{record.donationNumber,jdbcType=INTEGER},
      </if>
      <if test="record.donationLog != null">
        donation_log = #{record.donationLog,jdbcType=VARCHAR},
      </if>
      <if test="record.operTime != null">
        oper_time = #{record.operTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
    @mbggenerated
    -->
    update users_love_log
    set id = #{record.id,jdbcType=INTEGER},
      u_id = #{record.uId,jdbcType=VARCHAR},
      pba_id = #{record.pbaId,jdbcType=INTEGER},
      donation_number = #{record.donationNumber,jdbcType=INTEGER},
      donation_log = #{record.donationLog,jdbcType=VARCHAR},
      oper_time = #{record.operTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mrbt.lingmoney.model.UsersLoveLog">
    <!--
    @mbggenerated
    -->
    update users_love_log
    <set>
      <if test="uId != null">
        u_id = #{uId,jdbcType=VARCHAR},
      </if>
      <if test="pbaId != null">
        pba_id = #{pbaId,jdbcType=INTEGER},
      </if>
      <if test="donationNumber != null">
        donation_number = #{donationNumber,jdbcType=INTEGER},
      </if>
      <if test="donationLog != null">
        donation_log = #{donationLog,jdbcType=VARCHAR},
      </if>
      <if test="operTime != null">
        oper_time = #{operTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mrbt.lingmoney.model.UsersLoveLog">
    <!--
    @mbggenerated
    -->
    update users_love_log
    set u_id = #{uId,jdbcType=VARCHAR},
      pba_id = #{pbaId,jdbcType=INTEGER},
      donation_number = #{donationNumber,jdbcType=INTEGER},
      donation_log = #{donationLog,jdbcType=VARCHAR},
      oper_time = #{operTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>