<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mrbt.lingmoney.mapper.WorldCupGuessingMapper">
  <resultMap id="BaseResultMap" type="com.mrbt.lingmoney.model.WorldCupGuessing">
    <!--
    @mbggenerated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="u_id" jdbcType="VARCHAR" property="uId" />
    <result column="match_id" jdbcType="INTEGER" property="matchId" />
    <result column="game_choice" jdbcType="INTEGER" property="gameChoice" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="luck_status" jdbcType="INTEGER" property="luckStatus" />
    <result column="draw_info" jdbcType="VARCHAR" property="drawInfo" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
    @mbggenerated
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
    @mbggenerated
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
    @mbggenerated
    -->
    id, u_id, match_id, game_choice, create_time, luck_status, draw_info
  </sql>
  <select id="selectByExample" parameterType="com.mrbt.lingmoney.model.WorldCupGuessingExample" resultMap="BaseResultMap">
    <!--
    @mbggenerated
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from world_cup_guessing
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0">
       limit ${limitStart} , ${limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
    @mbggenerated
    -->
    select 
    <include refid="Base_Column_List" />
    from world_cup_guessing
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
    @mbggenerated
    -->
    delete from world_cup_guessing
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.mrbt.lingmoney.model.WorldCupGuessingExample">
    <!--
    @mbggenerated
    -->
    delete from world_cup_guessing
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mrbt.lingmoney.model.WorldCupGuessing">
    <!--
    @mbggenerated
    -->
    insert into world_cup_guessing (id, u_id, match_id, 
      game_choice, create_time, luck_status, 
      draw_info)
    values (#{id,jdbcType=INTEGER}, #{uId,jdbcType=VARCHAR}, #{matchId,jdbcType=INTEGER}, 
      #{gameChoice,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{luckStatus,jdbcType=INTEGER}, 
      #{drawInfo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mrbt.lingmoney.model.WorldCupGuessing">
    <!--
    @mbggenerated
    -->
    insert into world_cup_guessing
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uId != null">
        u_id,
      </if>
      <if test="matchId != null">
        match_id,
      </if>
      <if test="gameChoice != null">
        game_choice,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="luckStatus != null">
        luck_status,
      </if>
      <if test="drawInfo != null">
        draw_info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uId != null">
        #{uId,jdbcType=VARCHAR},
      </if>
      <if test="matchId != null">
        #{matchId,jdbcType=INTEGER},
      </if>
      <if test="gameChoice != null">
        #{gameChoice,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="luckStatus != null">
        #{luckStatus,jdbcType=INTEGER},
      </if>
      <if test="drawInfo != null">
        #{drawInfo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mrbt.lingmoney.model.WorldCupGuessingExample" resultType="java.lang.Long">
    <!--
    @mbggenerated
    -->
    select count(*) from world_cup_guessing
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
    @mbggenerated
    -->
    update world_cup_guessing
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.uId != null">
        u_id = #{record.uId,jdbcType=VARCHAR},
      </if>
      <if test="record.matchId != null">
        match_id = #{record.matchId,jdbcType=INTEGER},
      </if>
      <if test="record.gameChoice != null">
        game_choice = #{record.gameChoice,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.luckStatus != null">
        luck_status = #{record.luckStatus,jdbcType=INTEGER},
      </if>
      <if test="record.drawInfo != null">
        draw_info = #{record.drawInfo,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
    @mbggenerated
    -->
    update world_cup_guessing
    set id = #{record.id,jdbcType=INTEGER},
      u_id = #{record.uId,jdbcType=VARCHAR},
      match_id = #{record.matchId,jdbcType=INTEGER},
      game_choice = #{record.gameChoice,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      luck_status = #{record.luckStatus,jdbcType=INTEGER},
      draw_info = #{record.drawInfo,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mrbt.lingmoney.model.WorldCupGuessing">
    <!--
    @mbggenerated
    -->
    update world_cup_guessing
    <set>
      <if test="uId != null">
        u_id = #{uId,jdbcType=VARCHAR},
      </if>
      <if test="matchId != null">
        match_id = #{matchId,jdbcType=INTEGER},
      </if>
      <if test="gameChoice != null">
        game_choice = #{gameChoice,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="luckStatus != null">
        luck_status = #{luckStatus,jdbcType=INTEGER},
      </if>
      <if test="drawInfo != null">
        draw_info = #{drawInfo,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mrbt.lingmoney.model.WorldCupGuessing">
    <!--
    @mbggenerated
    -->
    update world_cup_guessing
    set u_id = #{uId,jdbcType=VARCHAR},
      match_id = #{matchId,jdbcType=INTEGER},
      game_choice = #{gameChoice,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      luck_status = #{luckStatus,jdbcType=INTEGER},
      draw_info = #{drawInfo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>